.menu-ul{
    list-style: none;
    text-align: center;
    margin: 0;
    display: inline;
    font-size: medium;
    font-weight: bolder;
  
  }
  .menu-ul li{
  display: inline-block;
  margin-right: 50px;
  }
  .Header{
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
  }
  
  .side-bar{
    text-align: left;
    font-weight: bolder;
    padding: 20px;
    height:600px;
    background-color: lightgrey;
    background-position: left;
    float: left;
    font-size: 18px;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none!important;
  
  }
  .side-bar :hover{
    color:goldenrod;
  }